body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    width: 100%;
    background: #00316b;
    display: flex;
}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li{
    float: right;
    list-style: none;
    display: inline-block;
    padding: 20px;
}
ul li:hover{
    text-decoration: underline;
}
ul li a{
    color: #fff;
    text-decoration: none;
}

.main{
    width: 100%;
    background: white;
    display: flex;
}
.child-main{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
.child-main select{
    float: right;
    display: inline-block;
    padding: 10px;
}
